.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--orange-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 13px 46px;

  @media screen and (min-width: 480px) {
    padding: 14px 36px;
  }
}

.btn-goup {
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: #fff;
  position: fixed;
  bottom: 40px;
  right: 40px;
  outline: none;
  border: solid 2px #272e3480;
  border-radius: 50%;
  transform: scale(1);
  transition: all 500ms ease-in-out;
  color: #272e3480;
  font-size: 41px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  &:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 18px #000;
  }

  &__icon {
    fill: #272e3480;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  transition: all 500ms ease-in-out;
}
