.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 320px;

    @include mq(tab) {
        max-width: 768px;
        padding: 0 32px;
    }

    @include mq(desk) {
        max-width: 1280px;
        padding: 0 16px;
    }
}