.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 999;
}

.modal{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    padding: 20px;
    background-color: var(--white-color);
    gap: 40px;
    flex-direction: row-reverse;
   color: var(--black-color);
}

.is-hidden{ 
    display: none;
}

.modal-cover{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.modal-wrapp{
    display: flex;
    flex-direction: column;
}

.modal-list-cover{
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.modal__about--text{
    width: 350px;
}

.modal-close-btn{
    font-size: 16px;
}

.modal-content{
    display: flex;
    gap: 40px;
}

.modal-close-btn{
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

