// Colors 
:root{
   --main-font: 'Roboto', sans-serif;
    --white-color: #fff;
    --orange-color: #FF6B08;
    --black-color: #000;
    --footer-backgraund-color: #F7F7F7;
    --red-color: #FF001B;
    --footer-text-color: #545454;

    // card-set
        --indent: 32px;
        --items: 1;
}