body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: var(--black-color);
  overflow-x: hidden;
  margin: 0;
}
* {
  box-sizing: border-box;
}
