.header{
  background-image: url("../img/home/heder-lg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 210px;
  padding-top: 40px;

    @include mq(tab){
      background-image: url("../img/home/header-tab.jpg");
    }

    @include mq(mob-only){
      background-image: url("../img/home/header-mob.jpg");
    }

}

.header-cover{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo{
  color: var(--white-color);
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.header__list{
  display: flex;
  color: var(--white-color);
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
}

.header-form{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.header-form-cover{
position: relative;
}
.header-form__input{
  background: none;
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--white-color);
  width: 390px;
  padding: 5px 0;
  color: var(--white-color);
}

.header-form__input::placeholder{
  color: var(--white-color);
}

.header-form__searchBtn{
  background: none;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
}

input[type="checkbox"]{
  display: block;
  margin-left: auto;
  position: relative;
  width: 80px;
  height: 30px;
  border-radius: 50px;
  appearance: none;
  background-color: var(--white-color);
}

input[type="checkbox"]::before{
  content: "";
  width: 20px;
  height: 20px;
  background-color: #1c1c1c;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50px;
  transition: .5s ease-in-out;
}

input[type="checkbox"]:checked{
  background-color: #c9cda8;
  transition: .5s ease-in;
}

input[type="checkbox"]:checked:before{
  transform: translateX(50px);
  background-color: var(--white-color);

}

.dark{
  background-color: #1c1c1c;
  color: var(--white-color);
}