.header {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  background-image: url(../img/home/home-bcg-sm.svg);

  @include mq(tab-only) {
    background-image: url(../img/home/home-bcg-md.svg);
  }

  @include mq(desk) {
    background-image: url(../img/home/home-bcg-lg.svg);
  }

  &__container {
    min-height: 230px;
    padding-top: 40px;
    // padding-bottom: 92px;
    display: flex;
    flex-direction: column;
    gap: 54px;

    @include mq(tab) {
      gap: 40px;
    //   padding-bottom: 80px;
      min-height: 216px;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  align-self: flex-start;

  &__icon {
    fill: var(--white-color);
  }

  &__txt {
    color: var(--white-color);
    font-weight: 500;
    font-size: 30px;
    line-height: calc(35 / 30);

    @include mq(mob-only) {
      display: none;
    }

    @include mq(tab) {
      margin-left: 8px;
    }

    @include mq(desk) {
      margin-left: 10px;
    }
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  &__link {
    padding-bottom: 3px;
    font-weight: 500;
    line-height: calc(14 / 12);
    text-transform: uppercase;
    color: var(--white-color);

    &--current {
      position: relative;
    }
  }
}

.search-form {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
padding-bottom: 92px;

    @include mq(tab) {
            padding-bottom: 80px;
        }

  &__bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 280px;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid var(--white-color);
    padding-bottom: 4px;

    @include mq(tab-only) {
      max-width: 336px;
    }

    @include mq(desk) {
      max-width: 394px;
    }
  }

  &__input {
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--white-color);
    background-color: transparent;
    border: 0;
    outline: none;

    &::placeholder {
      font-size: 14px;
      line-height: calc(16 / 14);
      color: var(--white-color);
    }
  }

  &__btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--red-color);
}
