.header-library {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image:linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/library/library-bcg-sm.svg);

  @include mq(tab-only) {
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/library/library-bcg-md.svg);
  }

  @include mq(desk) {
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/library/library-bcg-lg.svg);
  }

&__container {
    margin: 0 auto;
    padding: 0 20px;
    min-height: 230px;
    flex-direction: column;
    gap: 66px;
    display: flex;

    @include mq(mob-only) {
        max-width: 320px;
    }

    @include mq(tab-only) {
        min-height: 219px;
        padding: 0 32px;
        gap: 40px;
    }
        @include mq(desk) {
        max-width: 1280px;
        }

}



&__section {
    display: flex;
    padding-top: 20px;
    align-content: center;
    justify-content: space-between;

    align-items: center;

    @include mq(tab) {
        padding-top: 40px;
        justify-content: space-between;
    }
}

}

.logo__wrap {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 24px;
  width: 24px;
}

.logo__icons {
display: flex;
flex-direction: column;
position: absolute;
top: -24px;
left: 0px;
}

.logo__icon--first,
.logo__icon--second {
  display: flex;
  height: 24px;
  animation-name: movieScrolling;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-iteration-count: infinite;
}

@keyframes movieScrolling {
  0% {
      transform: translateY(24px);
  }
  100% {
      transform: translateY(0px);
  }
}

.logo__title {

  @include mq(mob-only) {
    display: none;
  }

  @include mq(tab) {
    margin-left: 8px;
  }
}



.logo__icon {
  fill: var(--white-color);
}


.filter {
  display: flex;
  justify-content: center;

  @include mq(tab) {
    padding-bottom: 60px;
    column-gap: 32px;
  }

  @include mq(desk) {
    gap: 16px;
  }
  
  
  &__list {
  display: flex;
  column-gap: 20px;
  list-style: none;
}

&__button {
  width: 129px;
  line-height: calc(16 / 12);

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  @include mq(tab) {
    width: 152px;
  }
  @include mq(desk) {
    width: 148px;
  }
}
}


.btn--active {
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

.nav {
  display: flex;

  justify-content: flex-end;
  
&__list {
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 40px;
  display: flex;
}
}


.nav .nav__link {
  text-decoration: none;
}
