.mask{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {

  border: 16px solid #a70303;
  /* Light grey */
  border-top: 16px solid #a76161;
  /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 60 auto 60 auto;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.hide{
  opacity: 0;
}