<footer>
  <section class="section__footer footer">
    <div class="container">
      <div class="footer-info">
        <p class="footer-text">
          &#169; 2020 | All Rights Reserved | Developed with
        </p>
        <svg class="footer-heart" width="12" height="12">
          <use href="../img/svg/sprite.svg#icon-twitter"></use>
        </svg>
        <a class="footer-link" href="# "
          ><span class="footer-link__item">by</span> GoIT Students</a
        >
      </div>
    </div>
  </section>
</footer>
