<footer>
    <section class="section__footer footer">
        <div class="container">
            <div class="footer-info">
                &#169; 2020 | All Rights Reserved |
                <span>Developed with
          <svg width="14" height="13">
            <use href="./img/svg/sprite.svg#icon-favorite"></use>
          </svg>

          by <a href="#" data-open-modal> GoIT Students</a></span
        >
      </div>
    </div>
    <div class="backdrop footer__backdrop is-hidden" data-modal>
      <div class="team__modal">
        <button class="close__btn" type="button" data-close-modal>
          <svg class="team__icon" width="18" height="18">
            <use href="./img/svg/sprite.svg#close-icon-team"></use>
          </svg>
        </button>
        <h2 class="team__title team__title--main">Our team</h2>
        <ul class="team__list card-set list">
          <li class="team__item">
            <img
              class="team__img"
              src="./img/team/rostyslav.jpg"
              alt="Фото мужчины"
              width="223"
              height="223"
            />
            <div class="team__card">
              <h3 class="team__title">Rostyslav Haluzinskiy</h3>
              <p class="team__text">Team lead</p>
              <a
                class="team__link link"
                href="https://github.com/RossHaluz"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="иконка GitHub"
              >
                <svg class="team__icon" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-GitHub"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__item">
            <img
              class="team__img"
              src="./img/team/vika.jpg"
              alt="Фото девушки"
              width="223"
              height="223"
            />
            <div class="team__card">
              <h3 class="team__title">Trunova Viktoriia</h3>
              <p class="team__text">Scrum master</p>
              <a
                class="team__link link"
                href="https://github.com/toryrory"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="иконка GitHub"
              >
                <svg class="team__icon" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-GitHub"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__item">
            <img
              class="team__img"
              src="./img/team/vira.jpg"
              alt="Фото девушки"
              width="223"
              height="223"
            />
            <div class="team__card">
              <h3 class="team__title">Vira Mesha</h3>
              <p class="team__text">Front-end Developer</p>
              <a
                class="team__link link"
                href="https://github.com/ViraMesha"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="иконка GitHub"
              >
                <svg class="team__icon" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-GitHub"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__item">
            <img
              class="team__img"
              src="./img/team/Denis.jpg"
              alt="Фото мужчины"
              width="223"
              height="223"
            />
            <div class="team__card">
              <h3 class="team__title">Denis Buk</h3>
              <p class="team__text">Front-end Developer</p>
              <a
                class="team__link link"
                href="https://github.com/DenisBuk"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="иконка GitHub"
              >
                <svg class="team__icon" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-GitHub"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__item">
            <img
              class="team__img"
              src="./img/team/Natalia-Krakovetska.jpg"
              alt="Фото девушки"
              width="223"
              height="223"
            />
            <div class="team__card">
              <h3 class="team__title">Natalia Krakovetska</h3>
              <p class="team__text">Front-end Developer</p>
              <a
                class="team__link link"
                href="https://github.com/Natalia-Krakovetska"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="иконка GitHub"
              >
                <svg class="team__icon" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-GitHub"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__item">
            <img
              class="team__img"
              src="./img/team/dima.jpg"
              alt="Фото мужчины"
              width="223"
              height="223"
            />
            <div class="team__card">
              <h3 class="team__title">Dmytro Slobodianiuk</h3>
              <p class="team__text">Front-end Developer</p>
              <a
                class="team__link link"
                href="https://github.com/SlobodianiukDS"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="иконка GitHub"
              >
                <svg class="team__icon" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-GitHub"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__item">
            <img
              class="team__img"
              src="./img/team/natalya-pavlenko.jpg"
              alt="Фото девушка"
              width="223"
              height="223"
            />
            <div class="team__card">
              <h3 class="team__title">Nataliia Pavlenko</h3>
              <p class="team__text">Front-end Developer</p>
              <a
                class="team__link link"
                href="https://natalia-pavlenko.github"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="иконка GitHub"
              >
                <svg class="team__icon" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-GitHub"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__item">
            <img
              class="team__img"
              src="./img/team/Olesiya.jpg"
              alt="Фото девушки"
              width="223"
              height="223"
            />
            <div class="team__card">
              <h3 class="team__title">Olesia Andreiko</h3>
              <p class="team__text">Front-end Developer</p>
              <a
                class="team__link link"
                href="https://github.com/OlesiaAndreiko"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="иконка GitHub"
              >
                <svg class="team__icon" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-GitHub"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__item">
            <img
              class="team__img"
              src="./img/team/andrey.jpg"
              alt="Фото мужчины"
              width="223"
              height="223"
            />
            <div class="team__card">
              <h3 class="team__title">Andrii Shkrab</h3>
              <p class="team__text">Front-end Developer</p>
              <a
                class="team__link link"
                href="https://github.com/blaiz408"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="иконка GitHub"
              >
                <svg class="team__icon" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-GitHub"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__item">
            <img
              class="team__img"
              src="./img/team/Andrei.jpg"
              alt="Фото мужчины"
              width="223"
              height="223"
            />
            <div class="team__card">
              <h3 class="team__title">Andrii Deikalo</h3>
              <p class="team__text">Front-end Developer</p>
              <a
                class="team__link link"
                href="https://github.com/andriideikalo"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="иконка GitHub"
              >
                <svg class="team__icon" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-GitHub"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__item">
            <img
              class="team__img"
              src="./img/team/Ivan.jpg"
              alt="Фото мужчины"
              width="223"
              height="223"
            />
            <div class="team__card">
              <h3 class="team__title">Ivan Onofriichuk</h3>
              <p class="team__text">Front-end Developer</p>
              <a
                class="team__link link"
                href="./"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="иконка GitHub"
              >
                <svg class="team__icon" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-GitHub"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__item">
            <img
              class="team__img"
              src="./img/team/Darya.jpg"
              alt="Фото девушка"
              width="223"
              height="223"
            />
            <div class="team__card">
              <h3 class="team__title">Daria Fomina</h3>
              <p class="team__text">Front-end Developer</p>
              <a
                class="team__link link"
                href="./"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="иконка GitHub"
              >
                <svg class="team__icon" width="20" height="20">
                  <use href="./img/svg/sprite.svg#icon-GitHub"></use>
                </svg>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>