<main>
  <div class="seсtion">
    <div class="container">
      <ul class="gallery list">
        <li class="card gallery-card">
          <img class="card-image" src" " alt="one film card" loading=" " />
          <div class="card-info">
            <p class="card-name">film name</p>
            <p class="card-genre">
              film genre<span class="card-year">${year}</span>
            </p>
          </div>
        </li>
        <li class="gallery-card"></li>
        <li class="gallery-card"></li>
        <li class="gallery-card"></li>
        <li class="gallery-card"></li>
        <li class="gallery-card"></li>
      </ul>
      <div class="gallery-pages"></div>
    </div>
  </div>
</main>
