<header class="header">
  <div class="container">
    <div class="header-cover">
      <a href="#" class="header__logo link">
        <svg class="header__logo--icon" width="32" height="32">
          <use href="./img/svg/sprite.svg#logo"></use>
        </svg>
        Filmoteka
      </a>

      <ul class="header__list list">
        <a href="/src/index.html" class="header__list-link link"
          ><li class="header__list--item">Home</li></a
        >
        <a href="/src/library.html" class="header__list-link link"
          ><li class="header__list--item">My librery</li></a
        >
      </ul>
    </div>
    <input type="checkbox" class="changeColor" />
    <form action="submit" class="header-form js-form">
      <div class="header-form-cover">
        <input
          type="text"
          class="header-form__input"
          placeholder="Movie search..."
        />

        <button type="submit" class="header-form__searchBtn">
          <svg class="header-form__searchBtn--icon" width="12" height="12">
            <use href="./img/svg/sprite.svg#search"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</header>
