<header class="header">
  <div class="container">
    <div class="header-cover">
      <a href="#" class="header__logo link">
        <svg class="header__logo--icon" width="32" height="32">
          <use href="./img/svg/sprite.svg#logo"></use>
        </svg>
        Filmoteka
      </a>

      <ul class="header__list list">
        <a href="/src/index.html" class="header__list-link link"
          ><li class="header__list--item">Home</li></a
        >
        <a href="/src/library.html" class="header__list-link link"
          ><li class="header__list--item">My librery</li></a
        >
      </ul>
    </div>
    <input type="checkbox" class="changeColor" />
    <div class="header-library-cover">
      <button
        type="button"
        class="hedear__library--btn header__library--btn-watched"
      >
        Watched
      </button>
      <button
        type="button"
        class="hedear__library--btn header__library--btn-queue"
      >
        Queue
      </button>
    </div>
  </div>
</header>
