<button class="open__btn" type="button">open</button>
<div class="backdrop">
  <div class="footer__modal">
    <button class="close__btn" type="button">
      <svg class="socials__icon" width="24" height="24"></svg>
      <use href="./img/svg/sprite.svg#icon-close"></use>
    </button>
    <h2 class="team__title team__title--main">Our team</h2>
    <ul class="team__list card-set list">
      <li class="team__item">
        <img class="team__img" alt="Фото мужчины" width="223" height="223" />
        <div class="team__card">
          <h3 class="team__title">Rostyslav Haluzinskiy</h3>
          <p class="team__text">Team lead</p>
          <a
            class="socials__link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="иконка GitHub"
          >
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__img" alt="Фото мужчины" width="223" height="223" />
        <div class="team__card">
          <h3 class="team__title">Rostyslav Haluzinskiy</h3>
          <p class="team__text">Team lead</p>
          <a
            class="socials__link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="иконка GitHub"
          >
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__img" alt="Фото мужчины" width="223" height="223" />
        <div class="team__card">
          <h3 class="team__title">Rostyslav Haluzinskiy</h3>
          <p class="team__text">Team lead</p>
          <a
            class="socials__link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="иконка GitHub"
          >
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__img" alt="Фото мужчины" width="223" height="223" />
        <div class="team__card">
          <h3 class="team__title">Rostyslav Haluzinskiy</h3>
          <p class="team__text">Team lead</p>
          <a
            class="socials__link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="иконка GitHub"
          >
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__img" alt="Фото мужчины" width="223" height="223" />
        <div class="team__card">
          <h3 class="team__title">Rostyslav Haluzinskiy</h3>
          <p class="team__text">Team lead</p>
          <a
            class="socials__link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="иконка GitHub"
          >
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__img" alt="Фото мужчины" width="223" height="223" />
        <div class="team__card">
          <h3 class="team__title">Rostyslav Haluzinskiy</h3>
          <p class="team__text">Team lead</p>
          <a
            class="socials__link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="иконка GitHub"
          >
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__img" alt="Фото мужчины" width="223" height="223" />
        <div class="team__card">
          <h3 class="team__title">Rostyslav Haluzinskiy</h3>
          <p class="team__text">Team lead</p>
          <a
            class="socials__link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="иконка GitHub"
          >
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__img" alt="Фото мужчины" width="223" height="223" />
        <div class="team__card">
          <h3 class="team__title">Rostyslav Haluzinskiy</h3>
          <p class="team__text">Team lead</p>
          <a
            class="socials__link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="иконка GitHub"
          >
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__img" alt="Фото мужчины" width="223" height="223" />
        <div class="team__card">
          <h3 class="team__title">Rostyslav Haluzinskiy</h3>
          <p class="team__text">Team lead</p>
          <a
            class="socials__link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="иконка GitHub"
          >
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__img" alt="Фото мужчины" width="223" height="223" />
        <div class="team__card">
          <h3 class="team__title">Rostyslav Haluzinskiy</h3>
          <p class="team__text">Team lead</p>
          <a
            class="socials__link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="иконка GitHub"
          >
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__img" alt="Фото мужчины" width="223" height="223" />
        <div class="team__card">
          <h3 class="team__title">Rostyslav Haluzinskiy</h3>
          <p class="team__text">Team lead</p>
          <a
            class="socials__link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="иконка GitHub"
          >
          </a>
        </div>
      </li>
      <li class="team__item">
        <img class="team__img" alt="Фото мужчины" width="223" height="223" />
        <div class="team__card">
          <h3 class="team__title">Rostyslav Haluzinskiy</h3>
          <p class="team__text">Team lead</p>
          <a
            class="socials__link link"
            href="./"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="иконка GitHub"
          >
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
